

.container{
	display: flex;
	height: 100vh;
	box-sizing: border-box;
}

.left-column{
	background-color: blue;
	height: 100%;
	width: 25%;
}
.right-column{
	background-color: red;
	height: 100%;
	width: 25%;

}
.game-board{
	display:flex;
	background-color: green;
	height: 100vh;
	width: 80%;
	overflow: hidden;
	justify-content: center;
	margin-left: 10%;
	background-image: url(images/football-field-cropped.png);
	background-size: cover;
}
.defender{
	box-sizing: border-box;
	position: absolute;
	height: 100px;
	width: 80px;
	/*background-color: yellow;*/
	animation-name: slideDown;
  	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	right:600px;
	margin:3px;
	overflow: hidden;
	background-image: url(images/frontrun.gif);
	background-size: cover;

	/*background-position: -500px 0px;*/
}

@keyframes slideDown {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(750px)
  };
  animation-fill-mode: forwards;
}

.player{
	position:relative;
	height: 100px;
	width: 10%;
	/*background-color: black;*/
	align-self: flex-end;
	margin-left:0px;
	margin-right:0px;
	background-image: url(images/backrun.gif);
	background-size: cover;

}



